body{
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    font-size: 4.5em;
    box-sizing: border-box;
    font-family: 'Audiowide', cursive;
    text-transform: uppercase;
    text-align: center;
    color: white;
}
img {
    position: fixed;
    width: 120px;
    height: 120px;
}
.left {
    top:-10px;
    left: 490px;
}
.right {
    top: -10px;
}
#map {
    width: 950px;
    height: 750px;
    position: relative;
    margin:0 auto;

}
p, a {
    font-family: 'Audiowide', cursive;
    font-size: 4em;
    text-align: center;
    color:red;
    margin-top: 250px;
}
button {
    margin-left: 37%;
    border-radius: 10%;
}
#win {
    display: none;
    z-index: 10;
    width: 950px;
    height: 750px;
    position: absolute;
    background-color: rgba(48, 44, 44, 0.9);;
}
#lose{
    display: none;
    z-index: 10;
    width: 950px;
    height: 750px;
    position: absolute;
    background-color: rgba(48, 44, 44, 0.9);
}
.frame {
    width: 50px;
    height: 50px;
    position: relative;
    float: left;
    background-image: url(../images/frame.png);
}
.floor{
    width: 50px;
    height: 50px;
    position: relative;
    float: left;
    background-image: url(../images/floor.png);
}
.brick {

    width: 50px;
    height: 50px;
    position: relative;
    float: left;
    background-image: url(../images/brick.png);
}
.wall {
    width: 50px;
    height: 50px;
    position: relative;
    float: left;
    background-image: url(../images/wall.png);
}
#hero {
    background-image: url("../images/hero_front.png");
    z-index: 10;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50px;
    left: 50px;
}
#bomb {
    z-index: 10;
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
}
#enemy{
    background-image: url("../images/enemy_front.png");
    z-index: 10;
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 50px;
}
.explosion {
    position: absolute;
    width: 50px;
    height: 50px;
}

footer {
    font-family: 'Sedgwick Ave', cursive;
    margin-top: 10px;
    background-color: #1C1D21;
    text-align: center;
    color: #E8FCFF;
    font-size: 1.1em;
    line-height: 2em;
}