#map {
    width: 950px;
    height: 750px;
    position: relative;
    border: 1px solid black;
    margin:10% auto;
}
.frame {
    width: 50px;
    height: 50px;
    position: relative;
    float: left;
    background-image: url(../images/frame.png);
}
.floor{
    width: 50px;
    height: 50px;
    position: relative;
    float: left;
    background-image: url(../images/floor.png);
}
.brick {

    width: 50px;
    height: 50px;
    position: relative;
    float: left;
    background-image: url(../images/brick.png);
}
.wall {
    width: 50px;
    height: 50px;
    position: relative;
    float: left;
    background-image: url(../images/wall.png);
}
#hero {
    background-image: url("../images/hero_front.png");
    z-index: 10;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50px;
    left: 50px;
}
#bomb {
    z-index: 10;
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
}
#enemy{
    background-image: url("../images/enemy_front.png");
    z-index: 10;
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 50px;
}
.explosion {
    position: absolute;
    width: 50px;
    height: 50px;
}

